<div class="mainabout">
    Ristorante Il Gambero Rosso
</div>
<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4">
      <img src="assets/imges/res.webp" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Eum ipsam laborum deleniti <b>velit pariatur architecto aut nihil</b></h5>
        <p class="card-text"> 
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis voluptatum esse quibusdam numquam quae dicta obcaecati voluptates, iusto veritatis fuga! Dolor quibusdam repudiandae ad animi, illum temporibus vitae consequatur quis?
        </p>
       <ul>
        <li>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        </li>
        <li>
             eveniet consequatur quidem, delectus quos omnis magnam soluta explicabo 
        </li>
        <li>
            itaque autem earum modi sunt incidunt numquam, repellat placeat veritatis!  
        </li>
       </ul>
      </div>
    </div>
  </div>
</div>
<div class="footabout">
    <p class="why">Why choose us</p>
    <p class="textfot">Lorem, ipsum dolor sit amet consectetur adipisicing elit. laudantium odit eos tempore nam debitis.</p>

<div class="container">
    <div class="c1">
<p>01</p>
<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quia libero saepe laboriosam nemo, maxime vero nulla eligendi qui? A vel error qui officiis adipisci accusamus at ipsam, alias sit?</span>
    </div>
    <div class="c2">
<p>02</p>
<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quia libero saepe laboriosam nemo, maxime vero nulla eligendi qui? A vel error qui officiis adipisci accusamus at ipsam, alias sit?</span>
    </div>
    <div class="c3">
<p>03</p>
<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quia libero saepe laboriosam nemo, maxime vero nulla eligendi qui? A vel error qui officiis adipisci accusamus at ipsam, alias sit?</span>
    </div>
</div>

</div>
<div class="why">
<b>Check our specials</b>
</div>
<p class="textfot">Lorem, ipsum dolor sit amet consectetur adipisicing elit. laudantium odit eos tempore nam debitis.</p>
<div class="listfot">
<div class="list-group  list-group-flush">
  <button type="button" class="list-group-item  active " aria-current="true">
    Modl sit est
  </button>
  <button type="button" class="list-group-item text-primary">Under praesntium sed</button>
  <button type="button" class="list-group-item text-primary">pariatur explicabo vel</button>
  <button type="button" class="list-group-item text-primary">Nostrum qui mrlweks</button>
    <button type="button" class="list-group-item text-primary">Under praesntium sed</button>
</div>


<p style="text-align:left ;">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil optio voluptatibus et nemo nam quis, vitae minus maiores amet eaque praesentium, asperiores vel, commodi necessitatibus sint a temporibus dolor dicta!
</p>

<img src="/assets/imges/foodabout.jpg" class="imgfot">


</div>


