<h1 class="headmenu">
    Our specialties
</h1> 
<hr>
 <div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4" style="width: 80% ;">
  <div class="col"*ngFor="let product of products ; index as productId" >
    <div class="card">
     <a  routerLink="products/{{productId}}"> <img src={{product.img}} class="card-img-top"></a>
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text" *ngIf="product.description">{{product.description}}</p>
      <hr>
      {{product.price  | currency }} 
    <hr>
    </div>
    <div class="butn">
        <button type="button" class="btn btn-primary" routerLink="products/{{productId}}">Datails</button>
        <button type="button" class="btn btn-success">Order</button>
     </div>
    </div>
  </div>
</div>
</div>
